---
interface Props {
  size?: number;
  class?: string;
}

const { size = 28, class: className } = Astro.props;
---

<div class:list={["twitter-icon", className]}>
  <svg
    fill="none"
    height={size}
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
    width={size}
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="twitter-path"
      d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
      pathLength="1"
    />
  </svg>
</div>

<style>
  .twitter-icon {
    display: inline-flex;
  }

  .twitter-path {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.4s ease, opacity 0.1s ease;
  }

  .twitter-icon:hover .twitter-path {
    animation: draw-twitter 0.6s linear both;
  }

  @keyframes draw-twitter {
    0% { stroke-dashoffset: -1; opacity: 0; }
    5% { opacity: 1; }
    100% { stroke-dashoffset: 0; opacity: 1; }
  }
</style>
