@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #010101;
  --color-foreground: #f0f0f0;
  --color-muted-foreground: #808080;
  --color-border: #202020;
  --color-card: #101010;
  --font-geist-mono: var(--font-geist-mono);
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}

p,
li {
  @apply leading-relaxed;
}
