@import "tailwindcss";

:root {
  --background: #131313;
  --foreground: #bebfbf;
  --title: #eceded;
  --accent: #69a5ff;
}

* {
  scroll-behavior: smooth;
}

html {
  line-height: 1.625;
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3 {
  /* color: var(--title); */
}

a {
  /* color: var(--accent); */
}
