@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --title: #f0f0f0;
  --body: #aaa;
  --card: #191919;
  --card-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
  --border: #333;
  --button: #353535;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-body leading-relaxed;
  background-color: var(--background);
}

h1,
h2,
h3,
h4 {
  @apply !leading-normal font-medium text-title;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
