@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@theme {
  --color-background: #111111;
  --color-foreground: #a4a4a4;
  --color-title: #f0f0f0;
  --color-card-border: #2e2e2e;
  --color-card-background: #0f0f0f;
  --color-accent: #60b5ff;
  --color-container-border: #242424;
  --font-geist: var(--font-geist);
  --font-source: var(--font-source);
}

@layer theme {
  .light {
    --color-background: #f5f5f5;
    --color-foreground: #686868;
    --color-title: #101010;
    --color-card-border: #e2e2e2;
    --color-card-background: #f9f9f9;
    --color-accent: #1b56fd;
    --color-container-border: #e4e4e4;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground font-source text-lg;
}

h1,
h2,
h3 {
  @apply font-semibold text-title font-geist;
}

a {
  @apply underline text-title;
}
