.renderer p {
  line-height: 1.5;
}

.renderer em {
  font-style: italic;
}

.renderer p:not(:last-child) {
  margin-bottom: 2rem;
}

.renderer pre {
  margin: 2rem 0;
  border-radius: 0.375rem;
  padding: 1rem;
  font-size: 0.875rem;
  overflow: auto;
  background-color: #303030;
}

.renderer pre code {
  overflow: auto;
  color: #f0f0f0;
}

.renderer p code {
  background-color: #303030;
  border-radius: 0.375rem;
  position: relative;
  padding: 0.25rem;
  font-size: 0.875rem;
  overflow: auto;
}

.renderer blockquote {
  padding: 1rem;
  background-color: #303030;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  color: #f0f0f0;
}

.renderer blockquote p {
  border-left: 2px solid #f0f0f0;
  padding-left: 1rem;
  font-size: 1rem;
}

.renderer h1 {
  font-size: 1.75rem;
}

.renderer h1,
.renderer h2,
.renderer h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.renderer h2 {
  font-size: 1.5rem;
}

.renderer h3 {
  font-size: 1.25rem;
}

.renderer ul {
  margin-bottom: 1rem;
  padding-left: 1rem;
  list-style: disc;
}

.renderer ul li {
  margin: 1rem 0;
}

.renderer img {
  margin: 1.5rem 0;
  width: 100%;
  object-fit: contain;
  border-radius: 0.375rem;
}
