---

const pathname = Astro.url.pathname;

---

<header>
  <div class="header-content container">
    <nav>
      <a href="/" class:list={[{ active: pathname === "/" }]}
        >Home</a
      >
      <a href="/blog" class:list={[{ active: pathname.startsWith("/blog") }]}
        >Writing</a
      >
      <a
        href="/projects"
        class:list={[{ active: pathname.startsWith("/projects") }]}>Projects</a
      >
      <a href="/work" class:list={[{ active: pathname.startsWith("/work") }]}
        >Work</a
      >
      <a href="/about" class:list={[{ active: pathname === "/about" }]}>About</a
      >
      <!-- <ThemeToggle /> -->
    </nav>
  </div>
</header>

<style>
  header {
    background: var(--bg);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-bottom: var(--space-xl);
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
    padding: var(--space-lg);
  }

  nav {
    display: flex;
    align-items: center;
    gap: var(--space-md);
  }

  nav a {
    font-size: 0.75rem;
    text-decoration: none;
    font-family: var(--font-mono);
    color: var(--text-muted);
    transition: color 0.2s ease;
    text-transform: uppercase;
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--space-md);
  }

  nav a:hover,
  nav a.active {
    color: var(--white);
    font-weight: bold;
    background-color: var(--accent);
  }

  @media (max-width: 640px) {
    nav {
      gap: var(--space-md);
      flex-wrap: wrap;
    }

    nav a {
      font-size: 0.8125rem;
    }
  }
</style>
