---

---

<li class="list-item">
    <slot />
</li>

<style>
  .list-item {
    background-color: var(--list-item);
    padding: var(--space-md);
  }

  .list-item:hover {
    background-color: var(--list-item-hover);
  }
</style>
